//output:../build/index.html
<!DOCTYPE html>
html(lang="en")
head
  title Chat
  meta(charset="UTF-8")
  meta(name="viewport", content="width=device-width, initial-scale=1")
  link(rel="shortcut icon", href="./assets/img/favicons/favicon.ico")
  link(rel="stylesheet", href="assets/css/main.css")
body 
.container
  .contacts
    ul
      li: a(href="#") Test
      li: a(href="#") Test
      li: a(href="#") Test
      li: a(href="#") Test
  .chat
    .header
      h1 Naam Achternaam
      h2 Last seen
    .messages
      .message.left links
      .message.right rechts jdfkjbsfnf asdhfbsdfhb dfhsdfbshdf 'jnodn'v;jndjb sfjhibvs ffsvkjhb sfv 
    .reply
      textarea(id="theTextarea", placeholder="text")
      button Send
    
  
  script(src="./assets/js/jquery-2.2.4.min.js")
  script(src="./assets/js/functions.js")
